@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

@font-face {
    font-family: 'Huberfish';
    src: url('./Huberfish_c_v001-Regular.ttf') format('truetype');
}

:root {
    --bree: 'Bree Serif', serif;
    --lato: 'Lato', sans-serif;
    --mono: 'Monoton', serif;
}
 
 html {
     width: 100%;
     box-sizing: border-box;
     display: block;
 }

body {
     width: 100%;
     display: block;
     box-sizing: border-box;
     color: white;
     background-image: url(https://raw.githubusercontent.com/Normalyman/Normalyman.github.io/main/Background%202.0.png);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     margin: 0;
     font-size: 21px;
     font-family: var(--lato);
 }

.container {
     width: 100%;
     box-sizing: inherit;
     margin: 0 auto;
}

header {
    background: linear-gradient(90deg, #ca8ef5, #918EF5);
    box-shadow: 4px 3px 5px black;
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 50px;
    width: 100%;
    
    & nav {
        margin-left: auto;
        padding: 5px;
    }
    & a {
        text-decoration: none;
        color: white;
        font-size: 1.8rem;
        font-family: var(--bree);
        margin: 0 20px;
    }
}

//underline styiling/animations

.underline {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0;
        background: white;
        transition: height 0.1s ease-out;
    }
    &:hover::before {
        height: 3px;
    }
}

.logo {
    font-size: 1.9em;
    line-height: 40px;
    margin: 5px 40px;
    font-family: 'Huberfish', var(--mono);
}

.title {
    text-align: center;
    font-family: var(--bree);
    font-size: 1.7rem;
    margin-top: 85px;
}

.sub-title {
    text-align: center;
    font-family: var(--bree);
    font-size: 1.7em;
    width: 100%;
}

.status {
    color: red;
    font-style: italic;
    text-shadow: 3px 2px 5px black;

}

.about-section {
    background: rgba(146, 142, 245, 0.4);
    backdrop-filter: blur(7px);
    box-sizing: inherit;
    border-radius: 10px;
    box-shadow: 4px 3px 5px black;
    padding: 20px;
    margin: 0 auto;
    width: 1000px;
    display: flex;


    &-text {
        width: 60%;
    }
    &-img {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-img-box {
        width: 70%;
        display: inherit;
    }

    & img {
        width: 100%;
    }

    & a {
        text-decoration: none;
        color: white;
        font-size: 1.2em;
    }
}

@media (max-width: 1439px) {
    .about-section {
        width: 95%;
    }
}

.links {
    display: flex;
    justify-content: space-around;
    line-height: 35px;
}

//hightlight animation styling

.highlight {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 2px;
        background: white;
        transition: width 0.4s ease-out;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: white;
        transition: width 0.4s ease-out;
    }

    &:hover::before {
        width: 100%;
        right: auto;
        left: 0;
    }
    &:hover::after {
        width: 100%;
        left: auto;
        right: 0;
    }
}

.work-section {
    background: rgba(146, 142, 245, 0.4);
    backdrop-filter: blur(7px);
    box-shadow: 4px 3px 5px black;
    border-radius: 10px;
    margin: 0 auto 45px auto;
    padding-top: 1px;
    width: 95%;
}

@media (min-width: 1620px) {
    .work-section {
        width: 1600px
    }
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding-bottom: 30px;

    &-showcase {
        background: rgba(228, 133, 244, 0.6);
        box-shadow: 4px 3px 5px black;
        width: 30%;
        text-align: center;
    }

    & img {
        width: 100%;
    }
}

@media (max-width: 980px) {
    .flex-box-showcase {
        width: 40%;
    }
}

.pricing-section {
    background: rgba(146, 142, 245, 0.4);
    backdrop-filter: blur(7px);
    box-shadow: 4px 3px 5px black;
    border-radius: 10px;
    box-sizing: inherit;
    width: 1000px;
    margin: 0 auto 45px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    & p {
        font-size: 1.1em;
    }

    &-title {
        width: 100%;
        font-size: 1.1em;
    }
    &-retexture {
        width: 100%;
        display: inherit;
        flex-wrap: inherit;
        }
    
    &-modeling {
        width: 100%;
        display: inherit;
        flex-wrap: inherit;
    }
    &-disclaimer {
        width: 100%;
    }
}

.pricing-details {
    width: 33.33%;

    &-title {
        width: 100%;
    }
}

@media (max-width: 1439px) {
    .pricing-section {
        width: 95%;
    }
}

//border styling

.border-right {
    position: relative;

    &:before {
        content: '';
        width: 1px;
        height: 100%;
        background: rgba(228, 133, 244, 0.6);;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.border-left {
    position: relative;

    &:after {
        content: '';
        width: 1px;
        height: 100%;
        background: rgba(228, 133, 244, 0.6);;
        position: absolute;
        top: 0;
        left: 0;
    }
}

footer {
    background: linear-gradient(90deg, #ca8ef5, #918EF5);
    width: 100%;
    text-align: center;
    
    & p {
        margin-bottom: 0;
        line-height: 40px;
    }
}