@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Raleway&display=swap');

:root {
    --bree: 'Bree Serif', serif;
    --raleway: 'Raleway', sans-serif;
}
 
 html {
     width: 100%;
     box-sizing: border-box;
 }

body {
     width: 100%;
     color: white;
     box-sizing: border-box;
     background-image: url(https://raw.githubusercontent.com/Normalyman/Normalyman.github.io/main/Background%202.0.png);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     margin: 0;
     font-size: 20px;
     font-family: var(--raleway);
 }

.container {
     width: 100%;
     box-sizing: inherit;
     margin: 0 auto;
}

header {
    background: #918EF5;
    display: flex;
    height: 50px;
    
    & nav {
        margin-left: auto;
        padding: 5px;
    }
    & a {
        text-decoration: none;
        color: white;
        font-size: 1.8rem;
        font-family: var(--bree);
        margin-left: 20px;
    }
}

.title {
    text-align: center;
    font-family: var(--bree);
    font-size: 1.7rem;
}

.sub-title {
    text-align: center;
    font-family: var(--bree);
    font-size: 1.7em;
    width: 100%;
}

.status {
    color: red;
    font-style: italic;

}

.about-section {
    background: rgba(146, 142, 245, 0.6);
    border-radius: 10px;
    box-shadow: 4px 3px 5px black;
    padding: 20px;
    margin: 0 auto;
    width: 1000px;
    display: flex;


    &-text {
        width: 60%;
    }
    &-img {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-img-box {
        width: 70%;
        display: inherit;
    }

    & img {
        width: 100%;
    }

    & a {
        text-decoration: none;
        color: white;
        font-size: 1.2em;
    }
}

.links {
    display: flex;
    justify-content: space-around;
    line-height: 35px;
}

.underline {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 2px;
        background: white;
        transition: width 0.5s ease-out;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 2px;
        background: white;
        transition: width 0.5s ease-out;
    }

    &:hover::before {
        width: 100%;
        right: auto;
        left: 0;
    }
    &:hover::after {
        width: 100%;
        left: auto;
        right: 0;
    }
}

.work-section {
    background: rgba(146, 142, 245, 0.6);
    border-radius: 10px;
    margin: 0 auto 45px auto;
    width: 1600px;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding-bottom: 30px;

    &-showcase {
        background: grey;
        width: 30%;
        text-align: center;
    }

    & img {
        width: 100%;
    }
}

.pricing-section {
    background: rgba(146, 142, 245, 0.6);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    &-title {
        width: 100%;
    }
    &-retexture {
        width: 50%;
    }
    &-modeling {
        width: 50%;
    }
    &-disclaimer {
        width: 100%;
    }
}

footer {
    background: #918EF5;
    width: 100%;
    text-align: center;
    
    & p {
        margin-bottom: 0;
    }
}