@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@font-face {
  font-family: 'Huberfish';
  src: url("./Huberfish_c_v001-Regular.ttf") format("truetype");
}

:root {
  --bree: 'Bree Serif', serif;
  --lato: 'Lato', sans-serif;
  --mono: 'Monoton', serif;
}

html {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

body {
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  background-image: url(https://raw.githubusercontent.com/Normalyman/Normalyman.github.io/main/Background%202.0.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-size: 21px;
  font-family: var(--lato);
}

.container {
  width: 100%;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0 auto;
}

header {
  background: -webkit-gradient(linear, left top, right top, from(#ca8ef5), to(#918EF5));
  background: linear-gradient(90deg, #ca8ef5, #918EF5);
  -webkit-box-shadow: 4px 3px 5px black;
          box-shadow: 4px 3px 5px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  height: 50px;
  width: 100%;
}

header nav {
  margin-left: auto;
  padding: 5px;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  font-family: var(--bree);
  margin: 0 20px;
}

.underline {
  position: relative;
}

.underline:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  background: white;
  -webkit-transition: height 0.1s ease-out;
  transition: height 0.1s ease-out;
}

.underline:hover::before {
  height: 3px;
}

.logo {
  font-size: 1.9em;
  line-height: 40px;
  margin: 5px 40px;
  font-family: 'Huberfish', 'Monoton', serif;
}

.title {
  text-align: center;
  font-family: '';
  font-size: 1.7rem;
  margin-top: 85px;
}

.sub-title {
  text-align: center;
  font-family: var(--bree);
  font-size: 1.7em;
  width: 100%;
}

.status {
  color: red;
  font-style: italic;
  text-shadow: 3px 2px 5px black;
}

.about-section {
  background: rgba(146, 142, 245, 0.6);
  border-radius: 10px;
  -webkit-box-shadow: 4px 3px 5px black;
          box-shadow: 4px 3px 5px black;
  padding: 20px;
  margin: 0 auto;
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-section-text {
  width: 60%;
}

.about-section-img {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section-img-box {
  width: 70%;
  display: inherit;
}

.about-section img {
  width: 100%;
}

.about-section a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

@media (max-width: 1439px) {
  .about-section {
    width: 95%;
  }
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  line-height: 35px;
}

.highlight {
  position: relative;
}

.highlight:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background: white;
  -webkit-transition: width 0.4s ease-out;
  transition: width 0.4s ease-out;
}

.highlight:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  -webkit-transition: width 0.4s ease-out;
  transition: width 0.4s ease-out;
}

.highlight:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

.highlight:hover::after {
  width: 100%;
  left: auto;
  right: 0;
}

.work-section {
  background: rgba(146, 142, 245, 0.6);
  -webkit-box-shadow: 4px 3px 5px black;
          box-shadow: 4px 3px 5px black;
  border-radius: 10px;
  margin: 0 auto 45px auto;
  padding-top: 1px;
  width: 98%;
}

@media (min-width: 1620px) {
  .work-section {
    width: 1600px;
  }
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
  padding-bottom: 30px;
}

.flex-box-showcase {
  background: rgba(228, 133, 244, 0.6);
  -webkit-box-shadow: 4px 3px 5px black;
          box-shadow: 4px 3px 5px black;
  width: 30%;
  text-align: center;
}

.flex-box img {
  width: 100%;
}

.pricing-section {
  background: rgba(146, 142, 245, 0.6);
  -webkit-box-shadow: 4px 3px 5px black;
          box-shadow: 4px 3px 5px black;
  border-radius: 10px;
  width: 1000px;
  margin: 0 auto 45px auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.pricing-section p {
  font-size: 1.1em;
}

.pricing-section-title {
  width: 100%;
  font-size: 1.1em;
}

.pricing-section-retexture {
  width: 50%;
}

.pricing-section-modeling {
  width: 50%;
}

.pricing-section-disclaimer {
  width: 100%;
  border-top: 2px solid rgba(228, 133, 244, 0.6);
}

@media (max-width: 1439px) {
  .pricing-section {
    width: 95%;
  }
}

.border-right {
  position: relative;
}

.border-right:after {
  content: '';
  width: 1px;
  height: 100%;
  background: rgba(228, 133, 244, 0.6);
  position: absolute;
  top: 0;
  right: 0;
}

.border-left {
  position: relative;
}

.border-left:after {
  content: '';
  width: 1px;
  height: 100%;
  background: rgba(228, 133, 244, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

footer {
  background: -webkit-gradient(linear, left top, right top, from(#ca8ef5), to(#918EF5));
  background: linear-gradient(90deg, #ca8ef5, #918EF5);
  width: 100%;
  text-align: center;
}

footer p {
  margin-bottom: 0;
  line-height: 40px;
}
/*# sourceMappingURL=style.css.map */