@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Raleway&display=swap");
:root {
  --bree: 'Bree Serif', serif;
  --raleway: 'Raleway', sans-serif;
}

html {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: "https://raw.githubusercontent.com/Normalyman/Normalyman.github.io/main/Background%202.0.png";
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-size: 20px;
  font-family: var(--raleway);
}

.container {
  width: 100%;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0 auto;
}

header {
  background: #918EF5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}

header nav {
  margin-left: auto;
  padding: 5px;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  font-family: var(--bree);
  margin-left: 20px;
}

.title {
  text-align: center;
  font-family: var(--bree);
  font-size: 1.7rem;
}

.sub-title {
  text-align: center;
  font-family: var(--bree);
  font-size: 1.7em;
  width: 100%;
}

.status {
  color: red;
  font-style: italic;
}

.about-section {
  background: rgba(146, 142, 245, 0.6);
  border-radius: 10px;
  -webkit-box-shadow: 4px 3px 5px black;
          box-shadow: 4px 3px 5px black;
  padding: 20px;
  margin: 0 auto;
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-section-text {
  width: 60%;
}

.about-section-img {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section-img-box {
  width: 70%;
  display: inherit;
}

.about-section img {
  width: 100%;
}

.about-section a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  line-height: 35px;
}

.underline {
  position: relative;
}

.underline:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background: white;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

.underline:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

.underline:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

.underline:hover::after {
  width: 100%;
  left: auto;
  right: 0;
}

.work-section {
  background: rgba(146, 142, 245, 0.6);
  border-radius: 10px;
  margin: 0 auto 45px auto;
  width: 1600px;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
  padding-bottom: 30px;
}

.flex-box-showcase {
  background: grey;
  width: 30%;
  text-align: center;
}

.flex-box img {
  width: 100%;
}

.pricing-section {
  background: rgba(146, 142, 245, 0.6);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.pricing-section-title {
  width: 100%;
}

.pricing-section-retexture {
  width: 50%;
}

.pricing-section-modeling {
  width: 50%;
}

.pricing-section-disclaimer {
  width: 100%;
}

footer {
  background: #918EF5;
  width: 100%;
  text-align: center;
}

footer p {
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */